.page {
  margin: 0;
}

.main {
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  border: 1px solid red;
  max-width: 1184px;
  padding: 28px 0 0 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  border: 1px solid red;
  max-width: 176px;
  max-height: 52px;
  object-fit: contain;
}

.header__lang-links {
  border: 1px solid red;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

.header__lang-link {
  border: 1px solid red;
  color: #fff;
  margin: 0 0 0 18px;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  text-decoration: none;
}

.lead {
  border: 1px solid red;
  max-width: 984px;
  padding: 56px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  border: 1px solid red;
  color: #fff;
  text-align: center;
  margin: 0 0 32px;
  max-width: 720px;
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
}

.lead__subtitle {
  border: 1px solid red;
  color: #fff;
  text-align: center;
  margin: 0 0 64px;
  max-width: 640px;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  margin: 0 0 8px;
}

.lead__caption {
  border: 1px solid red;
  color: #fff;
  align-self: flex-start;
  margin: 0;
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  border: 1px solid red;
  padding: 114px 0 0 0;
  margin: 0;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.intro__title {
  border: 1px solid red;
  color: #fff;
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: bold;
  line-height: 58px;
}

.intro__text {
  border: 1px solid red;
  color: #fff;
  margin: 0 0 33px;
  font-size: 16px;
  font-weight: normal;
  line-height: 26.08px;
}

.intro__list {
  border: 1px solid red;
  list-style: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.intro__span-accent {
  font-weight: bold;
}

.photo-grid {
  border: 1px solid red;
  max-width: 1184px;
  padding: 92px 0 0 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.places {
  max-width: 984px;
  border: 1px solid red;
  padding: 92px 0 0 0;
  margin: 0 auto;
}

.place {
  border: 1px solid red;
  margin: 0 0 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-of-type {
  margin-bottom: 0;
}

.place__title {
  color: #fff;
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 76px;
}

.place__website {
  border: 1px solid red;
  align-self: end;
}

.place__url-heading {
  border: 1px solid red;
  color: #aaa;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

.place__link {
  border: 1px solid red;
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.place__image {
  width: 100%;
  object-fit: cover;
}

.place__paragraph {
  border: 1px solid red;
  color: #fff;
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
}

.cover {
  border: 1px solid red;
  margin: 92px auto 0;
  max-width: 1184px;
  position: relative;
}

.cover__background {
  border: 1px solid red;
  padding-bottom: 62.5%;
  background-image: url(./images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

.cover__title {
  border: 1px solid red;
  color: #fff;
  max-width: 560px;
  text-align: center;
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 76px;
}

.cover__subtitle {
  border: 1px solid red;
  color: #fff;
  max-width: 360px;
  text-align: center;
  margin: 32px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.cover1 {
  border: 1px solid red;
  margin: 92px auto 0;
  max-width: 1184px;
  position: relative;
}

.cover__background1 {
  width: 100%;
}

.cover__overlay1 {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 44, 47, .3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__overlay1:hover {
  background-color: rgba(42, 44, 47, .8);
}

.cover__title1 {
  border: 1px solid red;
  color: #fff;
  max-width: 560px;
  text-align: center;
  margin: 0;
  font-size: 72px;
  font-weight: bold;
  line-height: 76px;
}

.cover__subtitle1 {
  border: 1px solid red;
  color: #fff;
  max-width: 360px;
  text-align: center;
  margin: 32px 0 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
}

.footer {
  border: 1px solid red;
  padding: 92px 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__links {
  border: 1px solid red;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__link {
  border: 1px solid red;
  color: #fff;
  margin: 0 18px 0 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__copyright {
  border: 1px solid red;
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
}
