.lead__title {
  border: 1px solid red;
  color: #fff;
  text-align: center;
  margin: 0 0 32px;
  max-width: 720px;
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
}

@media screen and (max-width: 425px) {
  .lead__title {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
