.intro {
  padding: 92px 0 0 0;
  margin: 0 auto;
  max-width: 77%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 93%;
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding-top: 64px;
  }
}
