.place__link {
  max-width: 456px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .place__link {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__link {
    max-width: 288px;
  }
}
