.footer {
  padding: 92px 0 24px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 93%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
  }
}
