.place__url-heading {
  border: 1px solid red;
  color: #aaa;
  max-width: 456px;
  margin: 0 0 12px 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    max-width: 352px;
  }
}

@media screen and (max-width: 425px) {
  .place__url-heading {
    max-width: 288px;
  }
}

